:root {
  --background: #131313;
  --text-color: #f4f4f4;
  --border-color: #3b3b3b;
  --correct: #538d4e;
  --misplaced: #b59f3b;
  --incorrect: #3a3a3c;
  --correct-border: #395936;
  --misplaced-border: #7d6e2a;
  --incorrect-border: #2a2a2b;
  --keyboard-key-color: #7b7b7b;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: var(--text-color);
  background-color: var(--background);
}

header {
  text-align: center;
  border-bottom: 2px solid var(--border-color);
  padding-bottom: 0.5em;
}

button {
  touch-action: manipulation;
}

.text-right {
  text-align: right;
}

#game-header-button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.game-header-button {
  display: flex;
  align-items: center;
  background-color: var(--background);
  color: var(--text-color);
  height: 2em;
}

#game {
  height: 70vh;
  justify-content: center;
}

#game-grid {
  margin: 0 auto;
  display: grid;
  gap: 8px;
  justify-content: center;
  margin-top: 1.5em;
  overflow: auto;
}

.letter {
  width: 60px;
  height: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 2px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.correct {
  background: var(--correct);
  border: 2px solid var(--correct-border);
}

.misplaced {
  background: var(--misplaced);
  border: 2px solid var(--misplaced-border);
}

.incorrect {
  background: var(--incorrect);
  border: 2px solid var(--incorrect-border);
}

#results-message {
  text-align: center;
}

#game-loading {
  text-align: center;
}

.hidden {
  display: none;
}

#keyboard {
  margin: auto;
  padding: 1.5em 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  overflow: auto;
}

.key {
  display: flex;
  background-color: var(--keyboard-key-color);
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: 14pt;
  min-width: 2rem;
  min-height: 3rem;
  color: var(--text-color);
}

.big-key {
  width: 3.3rem;
  font-weight: normal;
}

#key-enter {
  font-size: 10pt;
}

.keyboard-row {
  display: flex;
  gap: 6px;
}

.correct-keyboard {
  background-color: var(--correct);
}

.misplaced-keyboard {
  background-color: var(--misplaced);
}

.incorrect-keyboard {
  background-color: var(--incorrect);
}

.dialog {
  position: fixed;
  top: 5em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: var(--incorrect-border);
  border: 4px solid var(--incorrect);
  min-width: 5em;
}

.close-button {
  position: absolute;
  top: 1em;
  right: 1em;
  border: none;
  background: none;
  font-size: 1.5em;
  color: var(--text-color);
}

.dialog-header {
  margin-top: 0.6em;
  margin-bottom: 1em;
}

#stats-dialog {
  display: none;
  flex-direction: column;
  padding: 1em 2em;
}

#stats-table {
  border: 4px solid var(--incorrect);
  width: 20vw;
  border-collapse: collapse;
}

#stats-table tr {
  margin: 1em;
  /* background-color: red; */
}

#stats-table tr:nth-child(even) {
  background-color: var(--incorrect);
}

#stats-table td {
  padding: 10px;
}

#settings-dialog {
  display: none;
  flex-direction: column;
  padding: 1em 2em;
}

#settings-form {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.slider-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider-value {
  text-align: right;
  width: 1em;
}

#settings-button-container {
  display: flex;
  gap: 6px;
  margin: 0 auto 1rem auto;
}

/* #btn-save-settings {} */

/* .settings-button {
  width: fit-content;
  height: fit-content;
} */
